CRMToolkit/Setup/WSDL/WSDL/Connection.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://schemas.microsoft.com/crm/2009/WebServices" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://schemas.microsoft.com/crm/2009/WebServices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/crm/2009/WebServices">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="GetPossibleRole">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="roleId" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="peerRoleId" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="associatedRecordOtc" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPossibleRoleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPossibleRoleResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetDefaultTypeForRole">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="roleId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDefaultTypeForRoleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetDefaultTypeForRoleResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDefaultTypeForReciprocalRole">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="roleId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDefaultTypeForReciprocalRoleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetDefaultTypeForReciprocalRoleResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateConnection">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="record1Id" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="record1ObjectTypeCode" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="connectionRoleId" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="record2Id" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="record2ObjectTypeCode" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="associatedConnectionRoleId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateConnectionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateConnectionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckConnectionExist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="record1Id" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="connectionRoleId" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="record2Id" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="associatedConnectionRoleId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckConnectionExistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckConnectionExistResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SerializeConnectionRoles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionToCategory" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SerializeConnectionRolesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SerializeConnectionRolesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetPossibleRoleSoapIn">
    <wsdl:part name="parameters" element="tns:GetPossibleRole" />
  </wsdl:message>
  <wsdl:message name="GetPossibleRoleSoapOut">
    <wsdl:part name="parameters" element="tns:GetPossibleRoleResponse" />
  </wsdl:message>
  <wsdl:message name="GetDefaultTypeForRoleSoapIn">
    <wsdl:part name="parameters" element="tns:GetDefaultTypeForRole" />
  </wsdl:message>
  <wsdl:message name="GetDefaultTypeForRoleSoapOut">
    <wsdl:part name="parameters" element="tns:GetDefaultTypeForRoleResponse" />
  </wsdl:message>
  <wsdl:message name="GetDefaultTypeForReciprocalRoleSoapIn">
    <wsdl:part name="parameters" element="tns:GetDefaultTypeForReciprocalRole" />
  </wsdl:message>
  <wsdl:message name="GetDefaultTypeForReciprocalRoleSoapOut">
    <wsdl:part name="parameters" element="tns:GetDefaultTypeForReciprocalRoleResponse" />
  </wsdl:message>
  <wsdl:message name="CreateConnectionSoapIn">
    <wsdl:part name="parameters" element="tns:CreateConnection" />
  </wsdl:message>
  <wsdl:message name="CreateConnectionSoapOut">
    <wsdl:part name="parameters" element="tns:CreateConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="CheckConnectionExistSoapIn">
    <wsdl:part name="parameters" element="tns:CheckConnectionExist" />
  </wsdl:message>
  <wsdl:message name="CheckConnectionExistSoapOut">
    <wsdl:part name="parameters" element="tns:CheckConnectionExistResponse" />
  </wsdl:message>
  <wsdl:message name="SerializeConnectionRolesSoapIn">
    <wsdl:part name="parameters" element="tns:SerializeConnectionRoles" />
  </wsdl:message>
  <wsdl:message name="SerializeConnectionRolesSoapOut">
    <wsdl:part name="parameters" element="tns:SerializeConnectionRolesResponse" />
  </wsdl:message>
  <wsdl:portType name="ConnectionSoap">
    <wsdl:operation name="GetPossibleRole">
      <wsdl:input message="tns:GetPossibleRoleSoapIn" />
      <wsdl:output message="tns:GetPossibleRoleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDefaultTypeForRole">
      <wsdl:input message="tns:GetDefaultTypeForRoleSoapIn" />
      <wsdl:output message="tns:GetDefaultTypeForRoleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDefaultTypeForReciprocalRole">
      <wsdl:input message="tns:GetDefaultTypeForReciprocalRoleSoapIn" />
      <wsdl:output message="tns:GetDefaultTypeForReciprocalRoleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateConnection">
      <wsdl:input message="tns:CreateConnectionSoapIn" />
      <wsdl:output message="tns:CreateConnectionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckConnectionExist">
      <wsdl:input message="tns:CheckConnectionExistSoapIn" />
      <wsdl:output message="tns:CheckConnectionExistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SerializeConnectionRoles">
      <wsdl:input message="tns:SerializeConnectionRolesSoapIn" />
      <wsdl:output message="tns:SerializeConnectionRolesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConnectionSoap" type="tns:ConnectionSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPossibleRole">
      <soap:operation soapAction="http://schemas.microsoft.com/crm/2009/WebServices/GetPossibleRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDefaultTypeForRole">
      <soap:operation soapAction="http://schemas.microsoft.com/crm/2009/WebServices/GetDefaultTypeForRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDefaultTypeForReciprocalRole">
      <soap:operation soapAction="http://schemas.microsoft.com/crm/2009/WebServices/GetDefaultTypeForReciprocalRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateConnection">
      <soap:operation soapAction="http://schemas.microsoft.com/crm/2009/WebServices/CreateConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckConnectionExist">
      <soap:operation soapAction="http://schemas.microsoft.com/crm/2009/WebServices/CheckConnectionExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SerializeConnectionRoles">
      <soap:operation soapAction="http://schemas.microsoft.com/crm/2009/WebServices/SerializeConnectionRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ConnectionSoap12" type="tns:ConnectionSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPossibleRole">
      <soap12:operation soapAction="http://schemas.microsoft.com/crm/2009/WebServices/GetPossibleRole" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDefaultTypeForRole">
      <soap12:operation soapAction="http://schemas.microsoft.com/crm/2009/WebServices/GetDefaultTypeForRole" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDefaultTypeForReciprocalRole">
      <soap12:operation soapAction="http://schemas.microsoft.com/crm/2009/WebServices/GetDefaultTypeForReciprocalRole" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateConnection">
      <soap12:operation soapAction="http://schemas.microsoft.com/crm/2009/WebServices/CreateConnection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckConnectionExist">
      <soap12:operation soapAction="http://schemas.microsoft.com/crm/2009/WebServices/CheckConnectionExist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SerializeConnectionRoles">
      <soap12:operation soapAction="http://schemas.microsoft.com/crm/2009/WebServices/SerializeConnectionRoles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Connection">
    <wsdl:port name="ConnectionSoap" binding="tns:ConnectionSoap">
      <soap:address location="http://m365x389249.crm4.dynamics.com/appwebservices/Connection.asmx" />
    </wsdl:port>
    <wsdl:port name="ConnectionSoap12" binding="tns:ConnectionSoap12">
      <soap12:address location="http://m365x389249.crm4.dynamics.com/appwebservices/Connection.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
