CRMToolkit/Setup/WSDL/WSDL/DateTimeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://schemas.microsoft.com/crm/2009/WebServices" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://schemas.microsoft.com/crm/2009/WebServices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/crm/2009/WebServices">
      <s:element name="GetActualDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="date" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetActualDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetActualDateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrentServerDateTimeInUtc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="entityName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="entityId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrentServerDateTimeInUtcResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCurrentServerDateTimeInUtcResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveDateTimeAttributesInUtc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="entityName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="entityId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveDateTimeAttributesInUtcResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveDateTimeAttributesInUtcResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetActualDateSoapIn">
    <wsdl:part name="parameters" element="tns:GetActualDate" />
  </wsdl:message>
  <wsdl:message name="GetActualDateSoapOut">
    <wsdl:part name="parameters" element="tns:GetActualDateResponse" />
  </wsdl:message>
  <wsdl:message name="GetCurrentServerDateTimeInUtcSoapIn">
    <wsdl:part name="parameters" element="tns:GetCurrentServerDateTimeInUtc" />
  </wsdl:message>
  <wsdl:message name="GetCurrentServerDateTimeInUtcSoapOut">
    <wsdl:part name="parameters" element="tns:GetCurrentServerDateTimeInUtcResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveDateTimeAttributesInUtcSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveDateTimeAttributesInUtc" />
  </wsdl:message>
  <wsdl:message name="RetrieveDateTimeAttributesInUtcSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveDateTimeAttributesInUtcResponse" />
  </wsdl:message>
  <wsdl:portType name="DateTimeWebServiceSoap">
    <wsdl:operation name="GetActualDate">
      <wsdl:input message="tns:GetActualDateSoapIn" />
      <wsdl:output message="tns:GetActualDateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentServerDateTimeInUtc">
      <wsdl:input message="tns:GetCurrentServerDateTimeInUtcSoapIn" />
      <wsdl:output message="tns:GetCurrentServerDateTimeInUtcSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveDateTimeAttributesInUtc">
      <wsdl:input message="tns:RetrieveDateTimeAttributesInUtcSoapIn" />
      <wsdl:output message="tns:RetrieveDateTimeAttributesInUtcSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DateTimeWebServiceSoap" type="tns:DateTimeWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetActualDate">
      <soap:operation soapAction="http://schemas.microsoft.com/crm/2009/WebServices/GetActualDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentServerDateTimeInUtc">
      <soap:operation soapAction="http://schemas.microsoft.com/crm/2009/WebServices/GetCurrentServerDateTimeInUtc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveDateTimeAttributesInUtc">
      <soap:operation soapAction="http://schemas.microsoft.com/crm/2009/WebServices/RetrieveDateTimeAttributesInUtc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DateTimeWebServiceSoap12" type="tns:DateTimeWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetActualDate">
      <soap12:operation soapAction="http://schemas.microsoft.com/crm/2009/WebServices/GetActualDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentServerDateTimeInUtc">
      <soap12:operation soapAction="http://schemas.microsoft.com/crm/2009/WebServices/GetCurrentServerDateTimeInUtc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveDateTimeAttributesInUtc">
      <soap12:operation soapAction="http://schemas.microsoft.com/crm/2009/WebServices/RetrieveDateTimeAttributesInUtc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DateTimeWebService">
    <wsdl:port name="DateTimeWebServiceSoap" binding="tns:DateTimeWebServiceSoap">
      <soap:address location="http://m365x389249.crm4.dynamics.com/appwebservices/DateTimeService.asmx" />
    </wsdl:port>
    <wsdl:port name="DateTimeWebServiceSoap12" binding="tns:DateTimeWebServiceSoap12">
      <soap12:address location="http://m365x389249.crm4.dynamics.com/appwebservices/DateTimeService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
