CRMToolkit/Setup/WSDL/WSDL/DocumentManagementWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://schemas.microsoft.com/crm/2009/WebServices" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://schemas.microsoft.com/crm/2009/WebServices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/crm/2009/WebServices">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="UpdateDocumentManagementSettings">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="siteCollection" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isGridPresent" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="folderStructureEntity" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="entityDocMgmtXml" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="validateStatus" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="validateStatusReason" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDocumentManagementSettingsResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateDocumentManagementSettingsWithRelativeDefaultSite">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="siteCollection" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="defaultChildSite" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isGridPresent" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="folderStructureEntity" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="entityDocMgmtXml" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="validateStatus" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="validateStatusReason" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDocumentManagementSettingsWithRelativeDefaultSiteResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetXmlForSharePointValidation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="selectedRecords" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetXmlForSharePointValidationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetXmlForSharePointValidationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateLastValidated">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="logicalName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="validationStatus" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="validationStatusReason" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateLastValidatedResponse">
        <s:complexType />
      </s:element>
      <s:element name="RetrieveAbsoluteUri">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveAbsoluteUriResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveAbsoluteUriResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveAbsoluteAndSiteCollectionUrl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="logicalName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="entityId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveAbsoluteAndSiteCollectionUrlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveAbsoluteAndSiteCollectionUrlResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateDocumentLocationRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="locationName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="locationRelativePath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="absolutePath" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="parentType" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="parentId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="regardingType" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="regardingObjectId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="regardingIdForEntityCentric" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="regardingTypeForEntityCentric" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateDocumentLocationRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateDocumentLocationRecordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDocumentLocationRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="locationId" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="locationName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="locationRelativePath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="absolutePath" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="parentType" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="parentId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDocumentLocationRecordResponse">
        <s:complexType />
      </s:element>
      <s:element name="CanCreateFolder">
        <s:complexType />
      </s:element>
      <s:element name="CanCreateFolderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CanCreateFolderResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveAutoCreateInformation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="currentRecordId" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="currentEntityOtc" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveAutoCreateInformationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveAutoCreateInformationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSharepointVersion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSharepointVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSharepointVersionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UpdateDocumentManagementSettingsSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateDocumentManagementSettings" />
  </wsdl:message>
  <wsdl:message name="UpdateDocumentManagementSettingsSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateDocumentManagementSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateDocumentManagementSettingsWithRelativeDefaultSiteSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateDocumentManagementSettingsWithRelativeDefaultSite" />
  </wsdl:message>
  <wsdl:message name="UpdateDocumentManagementSettingsWithRelativeDefaultSiteSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateDocumentManagementSettingsWithRelativeDefaultSiteResponse" />
  </wsdl:message>
  <wsdl:message name="GetXmlForSharePointValidationSoapIn">
    <wsdl:part name="parameters" element="tns:GetXmlForSharePointValidation" />
  </wsdl:message>
  <wsdl:message name="GetXmlForSharePointValidationSoapOut">
    <wsdl:part name="parameters" element="tns:GetXmlForSharePointValidationResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateLastValidatedSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateLastValidated" />
  </wsdl:message>
  <wsdl:message name="UpdateLastValidatedSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateLastValidatedResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveAbsoluteUriSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveAbsoluteUri" />
  </wsdl:message>
  <wsdl:message name="RetrieveAbsoluteUriSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveAbsoluteUriResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveAbsoluteAndSiteCollectionUrlSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveAbsoluteAndSiteCollectionUrl" />
  </wsdl:message>
  <wsdl:message name="RetrieveAbsoluteAndSiteCollectionUrlSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveAbsoluteAndSiteCollectionUrlResponse" />
  </wsdl:message>
  <wsdl:message name="CreateDocumentLocationRecordSoapIn">
    <wsdl:part name="parameters" element="tns:CreateDocumentLocationRecord" />
  </wsdl:message>
  <wsdl:message name="CreateDocumentLocationRecordSoapOut">
    <wsdl:part name="parameters" element="tns:CreateDocumentLocationRecordResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateDocumentLocationRecordSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateDocumentLocationRecord" />
  </wsdl:message>
  <wsdl:message name="UpdateDocumentLocationRecordSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateDocumentLocationRecordResponse" />
  </wsdl:message>
  <wsdl:message name="CanCreateFolderSoapIn">
    <wsdl:part name="parameters" element="tns:CanCreateFolder" />
  </wsdl:message>
  <wsdl:message name="CanCreateFolderSoapOut">
    <wsdl:part name="parameters" element="tns:CanCreateFolderResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveAutoCreateInformationSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveAutoCreateInformation" />
  </wsdl:message>
  <wsdl:message name="RetrieveAutoCreateInformationSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveAutoCreateInformationResponse" />
  </wsdl:message>
  <wsdl:message name="GetSharepointVersionSoapIn">
    <wsdl:part name="parameters" element="tns:GetSharepointVersion" />
  </wsdl:message>
  <wsdl:message name="GetSharepointVersionSoapOut">
    <wsdl:part name="parameters" element="tns:GetSharepointVersionResponse" />
  </wsdl:message>
  <wsdl:portType name="DocumentManagementWebServiceSoap">
    <wsdl:operation name="UpdateDocumentManagementSettings">
      <wsdl:input message="tns:UpdateDocumentManagementSettingsSoapIn" />
      <wsdl:output message="tns:UpdateDocumentManagementSettingsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDocumentManagementSettingsWithRelativeDefaultSite">
      <wsdl:input message="tns:UpdateDocumentManagementSettingsWithRelativeDefaultSiteSoapIn" />
      <wsdl:output message="tns:UpdateDocumentManagementSettingsWithRelativeDefaultSiteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetXmlForSharePointValidation">
      <wsdl:input message="tns:GetXmlForSharePointValidationSoapIn" />
      <wsdl:output message="tns:GetXmlForSharePointValidationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateLastValidated">
      <wsdl:input message="tns:UpdateLastValidatedSoapIn" />
      <wsdl:output message="tns:UpdateLastValidatedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveAbsoluteUri">
      <wsdl:input message="tns:RetrieveAbsoluteUriSoapIn" />
      <wsdl:output message="tns:RetrieveAbsoluteUriSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveAbsoluteAndSiteCollectionUrl">
      <wsdl:input message="tns:RetrieveAbsoluteAndSiteCollectionUrlSoapIn" />
      <wsdl:output message="tns:RetrieveAbsoluteAndSiteCollectionUrlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateDocumentLocationRecord">
      <wsdl:input message="tns:CreateDocumentLocationRecordSoapIn" />
      <wsdl:output message="tns:CreateDocumentLocationRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDocumentLocationRecord">
      <wsdl:input message="tns:UpdateDocumentLocationRecordSoapIn" />
      <wsdl:output message="tns:UpdateDocumentLocationRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CanCreateFolder">
      <wsdl:input message="tns:CanCreateFolderSoapIn" />
      <wsdl:output message="tns:CanCreateFolderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveAutoCreateInformation">
      <wsdl:input message="tns:RetrieveAutoCreateInformationSoapIn" />
      <wsdl:output message="tns:RetrieveAutoCreateInformationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSharepointVersion">
      <wsdl:input message="tns:GetSharepointVersionSoapIn" />
      <wsdl:output message="tns:GetSharepointVersionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DocumentManagementWebServiceSoap" type="tns:DocumentManagementWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateDocumentManagementSettings">
      <soap:operation soapAction="http://schemas.microsoft.com/crm/2009/WebServices/UpdateDocumentManagementSettings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDocumentManagementSettingsWithRelativeDefaultSite">
      <soap:operation soapAction="http://schemas.microsoft.com/crm/2009/WebServices/UpdateDocumentManagementSettingsWithRelativeDefaultSite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetXmlForSharePointValidation">
      <soap:operation soapAction="http://schemas.microsoft.com/crm/2009/WebServices/GetXmlForSharePointValidation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLastValidated">
      <soap:operation soapAction="http://schemas.microsoft.com/crm/2009/WebServices/UpdateLastValidated" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveAbsoluteUri">
      <soap:operation soapAction="http://schemas.microsoft.com/crm/2009/WebServices/RetrieveAbsoluteUri" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveAbsoluteAndSiteCollectionUrl">
      <soap:operation soapAction="http://schemas.microsoft.com/crm/2009/WebServices/RetrieveAbsoluteAndSiteCollectionUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateDocumentLocationRecord">
      <soap:operation soapAction="http://schemas.microsoft.com/crm/2009/WebServices/CreateDocumentLocationRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDocumentLocationRecord">
      <soap:operation soapAction="http://schemas.microsoft.com/crm/2009/WebServices/UpdateDocumentLocationRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CanCreateFolder">
      <soap:operation soapAction="http://schemas.microsoft.com/crm/2009/WebServices/CanCreateFolder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveAutoCreateInformation">
      <soap:operation soapAction="http://schemas.microsoft.com/crm/2009/WebServices/RetrieveAutoCreateInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSharepointVersion">
      <soap:operation soapAction="http://schemas.microsoft.com/crm/2009/WebServices/GetSharepointVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DocumentManagementWebServiceSoap12" type="tns:DocumentManagementWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateDocumentManagementSettings">
      <soap12:operation soapAction="http://schemas.microsoft.com/crm/2009/WebServices/UpdateDocumentManagementSettings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDocumentManagementSettingsWithRelativeDefaultSite">
      <soap12:operation soapAction="http://schemas.microsoft.com/crm/2009/WebServices/UpdateDocumentManagementSettingsWithRelativeDefaultSite" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetXmlForSharePointValidation">
      <soap12:operation soapAction="http://schemas.microsoft.com/crm/2009/WebServices/GetXmlForSharePointValidation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLastValidated">
      <soap12:operation soapAction="http://schemas.microsoft.com/crm/2009/WebServices/UpdateLastValidated" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveAbsoluteUri">
      <soap12:operation soapAction="http://schemas.microsoft.com/crm/2009/WebServices/RetrieveAbsoluteUri" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveAbsoluteAndSiteCollectionUrl">
      <soap12:operation soapAction="http://schemas.microsoft.com/crm/2009/WebServices/RetrieveAbsoluteAndSiteCollectionUrl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateDocumentLocationRecord">
      <soap12:operation soapAction="http://schemas.microsoft.com/crm/2009/WebServices/CreateDocumentLocationRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDocumentLocationRecord">
      <soap12:operation soapAction="http://schemas.microsoft.com/crm/2009/WebServices/UpdateDocumentLocationRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CanCreateFolder">
      <soap12:operation soapAction="http://schemas.microsoft.com/crm/2009/WebServices/CanCreateFolder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveAutoCreateInformation">
      <soap12:operation soapAction="http://schemas.microsoft.com/crm/2009/WebServices/RetrieveAutoCreateInformation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSharepointVersion">
      <soap12:operation soapAction="http://schemas.microsoft.com/crm/2009/WebServices/GetSharepointVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DocumentManagementWebService">
    <wsdl:port name="DocumentManagementWebServiceSoap" binding="tns:DocumentManagementWebServiceSoap">
      <soap:address location="http://m365x389249.crm4.dynamics.com/appwebservices/DocumentManagementWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="DocumentManagementWebServiceSoap12" binding="tns:DocumentManagementWebServiceSoap12">
      <soap12:address location="http://m365x389249.crm4.dynamics.com/appwebservices/DocumentManagementWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
