CRMToolkit/Setup/WSDL/WSDL/LookupMruWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://schemas.microsoft.com/crm/2009/WebServices" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://schemas.microsoft.com/crm/2009/WebServices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/crm/2009/WebServices">
      <s:element name="UploadLookupMru">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lookupMruXml" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="retrieveAfterUpdated" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadLookupMruResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadLookupMruResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveLookupMruData">
        <s:complexType />
      </s:element>
      <s:element name="RetrieveLookupMruDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveLookupMruDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UploadLookupMruSoapIn">
    <wsdl:part name="parameters" element="tns:UploadLookupMru" />
  </wsdl:message>
  <wsdl:message name="UploadLookupMruSoapOut">
    <wsdl:part name="parameters" element="tns:UploadLookupMruResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveLookupMruDataSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveLookupMruData" />
  </wsdl:message>
  <wsdl:message name="RetrieveLookupMruDataSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveLookupMruDataResponse" />
  </wsdl:message>
  <wsdl:portType name="LookupMruWebServiceSoap">
    <wsdl:operation name="UploadLookupMru">
      <wsdl:input message="tns:UploadLookupMruSoapIn" />
      <wsdl:output message="tns:UploadLookupMruSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveLookupMruData">
      <wsdl:input message="tns:RetrieveLookupMruDataSoapIn" />
      <wsdl:output message="tns:RetrieveLookupMruDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LookupMruWebServiceSoap" type="tns:LookupMruWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadLookupMru">
      <soap:operation soapAction="http://schemas.microsoft.com/crm/2009/WebServices/UploadLookupMru" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveLookupMruData">
      <soap:operation soapAction="http://schemas.microsoft.com/crm/2009/WebServices/RetrieveLookupMruData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LookupMruWebServiceSoap12" type="tns:LookupMruWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadLookupMru">
      <soap12:operation soapAction="http://schemas.microsoft.com/crm/2009/WebServices/UploadLookupMru" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveLookupMruData">
      <soap12:operation soapAction="http://schemas.microsoft.com/crm/2009/WebServices/RetrieveLookupMruData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LookupMruWebService">
    <wsdl:port name="LookupMruWebServiceSoap" binding="tns:LookupMruWebServiceSoap">
      <soap:address location="http://m365x389249.crm4.dynamics.com/appwebservices/LookupMruWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="LookupMruWebServiceSoap12" binding="tns:LookupMruWebServiceSoap12">
      <soap12:address location="http://m365x389249.crm4.dynamics.com/appwebservices/LookupMruWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
