CRMToolkit/Setup/WSDL/WSDL/SubjectManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://schemas.microsoft.com/crm/2009/WebServices" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://schemas.microsoft.com/crm/2009/WebServices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/crm/2009/WebServices">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="RetrieveTreeNodeHTML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="parentId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveTreeNodeHTMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveTreeNodeHTMLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateSubject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateSubjectResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateSubject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateSubjectResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteSubject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteSubjectResponse">
        <s:complexType />
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RetrieveTreeNodeHTMLSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveTreeNodeHTML" />
  </wsdl:message>
  <wsdl:message name="RetrieveTreeNodeHTMLSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveTreeNodeHTMLResponse" />
  </wsdl:message>
  <wsdl:message name="CreateSubjectSoapIn">
    <wsdl:part name="parameters" element="tns:CreateSubject" />
  </wsdl:message>
  <wsdl:message name="CreateSubjectSoapOut">
    <wsdl:part name="parameters" element="tns:CreateSubjectResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSubjectSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateSubject" />
  </wsdl:message>
  <wsdl:message name="UpdateSubjectSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateSubjectResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSubjectSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteSubject" />
  </wsdl:message>
  <wsdl:message name="DeleteSubjectSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteSubjectResponse" />
  </wsdl:message>
  <wsdl:portType name="SubjectManagerWebServiceSoap">
    <wsdl:operation name="RetrieveTreeNodeHTML">
      <wsdl:input message="tns:RetrieveTreeNodeHTMLSoapIn" />
      <wsdl:output message="tns:RetrieveTreeNodeHTMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateSubject">
      <wsdl:input message="tns:CreateSubjectSoapIn" />
      <wsdl:output message="tns:CreateSubjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSubject">
      <wsdl:input message="tns:UpdateSubjectSoapIn" />
      <wsdl:output message="tns:UpdateSubjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSubject">
      <wsdl:input message="tns:DeleteSubjectSoapIn" />
      <wsdl:output message="tns:DeleteSubjectSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SubjectManagerWebServiceSoap" type="tns:SubjectManagerWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetrieveTreeNodeHTML">
      <soap:operation soapAction="http://schemas.microsoft.com/crm/2009/WebServices/RetrieveTreeNodeHTML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateSubject">
      <soap:operation soapAction="http://schemas.microsoft.com/crm/2009/WebServices/CreateSubject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSubject">
      <soap:operation soapAction="http://schemas.microsoft.com/crm/2009/WebServices/UpdateSubject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSubject">
      <soap:operation soapAction="http://schemas.microsoft.com/crm/2009/WebServices/DeleteSubject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SubjectManagerWebServiceSoap12" type="tns:SubjectManagerWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetrieveTreeNodeHTML">
      <soap12:operation soapAction="http://schemas.microsoft.com/crm/2009/WebServices/RetrieveTreeNodeHTML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateSubject">
      <soap12:operation soapAction="http://schemas.microsoft.com/crm/2009/WebServices/CreateSubject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSubject">
      <soap12:operation soapAction="http://schemas.microsoft.com/crm/2009/WebServices/UpdateSubject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSubject">
      <soap12:operation soapAction="http://schemas.microsoft.com/crm/2009/WebServices/DeleteSubject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SubjectManagerWebService">
    <wsdl:port name="SubjectManagerWebServiceSoap" binding="tns:SubjectManagerWebServiceSoap">
      <soap:address location="http://jemorl.crm.dynamics.com/appwebservices/SubjectManager.asmx" />
    </wsdl:port>
    <wsdl:port name="SubjectManagerWebServiceSoap12" binding="tns:SubjectManagerWebServiceSoap12">
      <soap12:address location="http://jemorl.crm.dynamics.com/appwebservices/SubjectManager.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
