CRMToolkit/Setup/WSDL/WSDL/UserManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://schemas.microsoft.com/crm/2009/WebServices" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://schemas.microsoft.com/crm/2009/WebServices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/crm/2009/WebServices">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="UpdateUserTimeZone">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="offsetValue" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserTimeZoneResponse">
        <s:complexType />
      </s:element>
      <s:element name="AddUsers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userXml" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="roles" type="tns:ArrayOfGuid" />
            <s:element minOccurs="1" maxOccurs="1" name="sendInvitation" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfGuid">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="guid" type="s1:guid" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddUsersResult" type="tns:AddUsersResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AddUsersResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfString" />
          <s:element minOccurs="1" maxOccurs="1" name="UsersAdded" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="UsersNotAdded" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Warnings" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RetrieveADUserProperties">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="domainAccountName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveADUserPropertiesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveADUserPropertiesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendInviteForGrid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendInviteForGridResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendInviteForGridResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PromoteToAdmin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PromoteToAdminResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PromoteToAdminResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserRoles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userIds" type="tns:ArrayOfGuid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserRolesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserRolesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetDevErrors">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="value" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetDevErrorsResponse">
        <s:complexType />
      </s:element>
      <s:element name="RetrieveMembers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="teamId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveMembersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveMembersResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UpdateUserTimeZoneSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateUserTimeZone" />
  </wsdl:message>
  <wsdl:message name="UpdateUserTimeZoneSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateUserTimeZoneResponse" />
  </wsdl:message>
  <wsdl:message name="AddUsersSoapIn">
    <wsdl:part name="parameters" element="tns:AddUsers" />
  </wsdl:message>
  <wsdl:message name="AddUsersSoapOut">
    <wsdl:part name="parameters" element="tns:AddUsersResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveADUserPropertiesSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveADUserProperties" />
  </wsdl:message>
  <wsdl:message name="RetrieveADUserPropertiesSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveADUserPropertiesResponse" />
  </wsdl:message>
  <wsdl:message name="SendInviteForGridSoapIn">
    <wsdl:part name="parameters" element="tns:SendInviteForGrid" />
  </wsdl:message>
  <wsdl:message name="SendInviteForGridSoapOut">
    <wsdl:part name="parameters" element="tns:SendInviteForGridResponse" />
  </wsdl:message>
  <wsdl:message name="PromoteToAdminSoapIn">
    <wsdl:part name="parameters" element="tns:PromoteToAdmin" />
  </wsdl:message>
  <wsdl:message name="PromoteToAdminSoapOut">
    <wsdl:part name="parameters" element="tns:PromoteToAdminResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserRolesSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserRoles" />
  </wsdl:message>
  <wsdl:message name="GetUserRolesSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserRolesResponse" />
  </wsdl:message>
  <wsdl:message name="SetDevErrorsSoapIn">
    <wsdl:part name="parameters" element="tns:SetDevErrors" />
  </wsdl:message>
  <wsdl:message name="SetDevErrorsSoapOut">
    <wsdl:part name="parameters" element="tns:SetDevErrorsResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveMembersSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveMembers" />
  </wsdl:message>
  <wsdl:message name="RetrieveMembersSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveMembersResponse" />
  </wsdl:message>
  <wsdl:portType name="UserManagerSoap">
    <wsdl:operation name="UpdateUserTimeZone">
      <wsdl:input message="tns:UpdateUserTimeZoneSoapIn" />
      <wsdl:output message="tns:UpdateUserTimeZoneSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddUsers">
      <wsdl:input message="tns:AddUsersSoapIn" />
      <wsdl:output message="tns:AddUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveADUserProperties">
      <wsdl:input message="tns:RetrieveADUserPropertiesSoapIn" />
      <wsdl:output message="tns:RetrieveADUserPropertiesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendInviteForGrid">
      <wsdl:input message="tns:SendInviteForGridSoapIn" />
      <wsdl:output message="tns:SendInviteForGridSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PromoteToAdmin">
      <wsdl:input message="tns:PromoteToAdminSoapIn" />
      <wsdl:output message="tns:PromoteToAdminSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserRoles">
      <wsdl:input message="tns:GetUserRolesSoapIn" />
      <wsdl:output message="tns:GetUserRolesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetDevErrors">
      <wsdl:input message="tns:SetDevErrorsSoapIn" />
      <wsdl:output message="tns:SetDevErrorsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveMembers">
      <wsdl:input message="tns:RetrieveMembersSoapIn" />
      <wsdl:output message="tns:RetrieveMembersSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserManagerSoap" type="tns:UserManagerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateUserTimeZone">
      <soap:operation soapAction="http://schemas.microsoft.com/crm/2009/WebServices/UpdateUserTimeZone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUsers">
      <soap:operation soapAction="http://schemas.microsoft.com/crm/2009/WebServices/AddUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveADUserProperties">
      <soap:operation soapAction="http://schemas.microsoft.com/crm/2009/WebServices/RetrieveADUserProperties" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendInviteForGrid">
      <soap:operation soapAction="http://schemas.microsoft.com/crm/2009/WebServices/SendInviteForGrid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PromoteToAdmin">
      <soap:operation soapAction="http://schemas.microsoft.com/crm/2009/WebServices/PromoteToAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserRoles">
      <soap:operation soapAction="http://schemas.microsoft.com/crm/2009/WebServices/GetUserRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetDevErrors">
      <soap:operation soapAction="http://schemas.microsoft.com/crm/2009/WebServices/SetDevErrors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveMembers">
      <soap:operation soapAction="http://schemas.microsoft.com/crm/2009/WebServices/RetrieveMembers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UserManagerSoap12" type="tns:UserManagerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateUserTimeZone">
      <soap12:operation soapAction="http://schemas.microsoft.com/crm/2009/WebServices/UpdateUserTimeZone" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUsers">
      <soap12:operation soapAction="http://schemas.microsoft.com/crm/2009/WebServices/AddUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveADUserProperties">
      <soap12:operation soapAction="http://schemas.microsoft.com/crm/2009/WebServices/RetrieveADUserProperties" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendInviteForGrid">
      <soap12:operation soapAction="http://schemas.microsoft.com/crm/2009/WebServices/SendInviteForGrid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PromoteToAdmin">
      <soap12:operation soapAction="http://schemas.microsoft.com/crm/2009/WebServices/PromoteToAdmin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserRoles">
      <soap12:operation soapAction="http://schemas.microsoft.com/crm/2009/WebServices/GetUserRoles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetDevErrors">
      <soap12:operation soapAction="http://schemas.microsoft.com/crm/2009/WebServices/SetDevErrors" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveMembers">
      <soap12:operation soapAction="http://schemas.microsoft.com/crm/2009/WebServices/RetrieveMembers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserManager">
    <wsdl:port name="UserManagerSoap" binding="tns:UserManagerSoap">
      <soap:address location="http://m365x389249.crm4.dynamics.com/appwebservices/UserManager.asmx" />
    </wsdl:port>
    <wsdl:port name="UserManagerSoap12" binding="tns:UserManagerSoap12">
      <soap12:address location="http://m365x389249.crm4.dynamics.com/appwebservices/UserManager.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
